.contenedor{
    background-color: whitesmoke;
    display: flex;
    align-items: end;
        flex-direction: column;
        height: 600px;
        width: 600px;
        justify-content: center;
}
.item1{
    background-color: red;
    width: 200px;
	height: 200px;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.item2{
    background-color: blue;
    width: 200px;
	height: 200px;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.item3{
    background-color: green;
    width: 200px;
	height: 200px;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#caja{
    position: relative;
    height: 600px;
    width: 600px;
    align-items: center;
}